*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem;
  color: #24393C;
}

h2{
  font-size: 3rem;
  color: black;
}

.container{
  max-width: 1170px;
  width: 90%;
  margin: 0 auto;
}

.clearfix::after{
  content: '' ;
  display:table;
  clear: both;  
}

/*header*/

.nomad{
  background-image: url(../img/pexels-nataliya-vaitkevich-5554769.jpg);
  height: 600px;
  background-size: cover;
  background-position: center;
}


.nomad h1{
  font-size: 4rem;
  text-align: center;
  padding-top: 350px;
  color: black;
}

.logo{
  float: left;
}

.logo span{
  font-weight: bold;
  font-size: 1,5rem;
}

.menu nav{
  float: left;
  padding-left: 100px;
}

.menu{
  border-bottom: 2px solid black;
  padding: 20px 0;
}

.menu nav ul li{
  padding: 0 30px;
  display: inline-block;
  list-style: none;
}

.menu nav ul li a{
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
}

.menu nav ul li a:hover{
  text-decoration: underline;
}

/*main*/

main .create{
  background-color:#7FBEDD;
  padding-top: 150px;
}

main .col{
  float: left;
  width: 50%;
}

main .col p{
  padding-top: 30px;
}

main .col:first-child{
  padding-right: 40px;
}








